<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit Nominal</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/nominal">Nominal</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Form Edit Nominal <b><%= nominal.coinName %> </b>
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- form start -->
                <form action="/nominal/edit/<%= nominal.id %>?_method=PUT" method="post">
                    <div class="form-group">
                        <label>Pilih Koin</label>
                        <select class="form-control select2" name="coinName" style="width: 100%;" required>
                            <option selected="selected">Pilih Koin</option>
                            <option
                                <% if (nominal.coinName ==='Gold') { %>
                                    selected
                                <% } %> 
                                value="Gold">
                                    Gold
                            </option>
                            <option
                                <% if (nominal.coinName ==='Diamond') { %>
                                    selected
                                <% } %> 
                                value="Diamond">
                                    Diamond
                            </option>
                            <option 
                                <% if (nominal.coinName ==='Jewellery') { %>
                                    selected
                                <% } %> 
                                value="Jewellery">
                                    Jewellery
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="coinQuantity">Jumlah Koin</label>
                        <input type="number" value="<%= nominal.coinQuantity %>" class="form-control" id="coinQuantity" name="coinQuantity" placeholder="Masukan jumlah koin" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Harga</label>
                        <input type="number" value="<%= nominal.price %>" class="form-control" id="price" name="price" placeholder="Masukan harga" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>